# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*~

# Python & Ambientes
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
build/
dist/
*.egg-info/

# Airflow
.airflow/
airflow/logs/
airflow/*.db
airflow-*.pid
airflow/simple_auth_manager_passwords.json.generated

# Credenciais
**/credentials/*.json
**/credentials/*.key
*.pem
*.crt
*.p12
secrets/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/dbt_modules/

# Spark
spark-warehouse/
metastore_db/
events/spark-events/

# Dados
data/raw/
data/**/*.parquet
database/*.db

# Logs
logs/
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.lock.hcl

jars/*
data/*